{% extends "base.html" %}
{% load static %}

{% block title %} General Dashboard {% endblock %}
{% if debug is True %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/boxicons-2.0.7/css/boxicons.min.css' %}" />
{% else %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
{% endif %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/history.css' %}" />
{% endblock %}


{% block page_content %}
<!--history Section start-->
<section id="historySection" class="bg-light px-3 pt-3 pb-5 rounded mt-5">
    <div class="cmp-com-hdr-tit">Payment History</div>
    <div class="cmp-pad-txt-bot">
        <p class="ms-auto"><b>--</b> mails are opened out of {{total_mail}}</p>
    </div>
    <div id="bulkHistory" class=" cmp-bor-rad cmp-his-pad">
        <div class="row align-items-center cmp-sec-bot-mar">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3 class=" col-md-6 cmp-his-hdr-tit">Last Bulk History</h3>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <form action="" method="GET">
                    <div class="cmp-his-ser-blo">
                        <div class="ctl-ser-inp-lft">
                            <input class="col-md-6" type="text" name="search" placeholder="Search by user"
                                aria-label="default input example">
                        </div>
                        <div class="ctl-ser-btn-rit">

                            <button class=" col-6 col-md-6"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12.289 11.7067H12.9378L17.0355 15.8127L15.8119 17.0362L11.706 12.9385V12.2897L11.4842 12.0598C10.5481 12.8646 9.33272 13.3491 8.0106 13.3491C5.06252 13.3491 2.67285 10.9594 2.67285 8.01133C2.67285 5.06325 5.06252 2.67358 8.0106 2.67358C10.9587 2.67358 13.3483 5.06325 13.3483 8.01133C13.3483 9.33345 12.8638 10.5488 12.0591 11.485L12.289 11.7067ZM4.31547 8.01126C4.31547 10.056 5.96606 11.7066 8.01083 11.7066C10.0556 11.7066 11.7062 10.056 11.7062 8.01126C11.7062 5.9665 10.0556 4.3159 8.01083 4.3159C5.96606 4.3159 4.31547 5.9665 4.31547 8.01126Z"
                                        fill="white" />
                                </svg>
                                Search</button>
                        </div>
                        <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <div id="data_list">
            {% for post in posts %}
            <div class="card d-flex flex-row p-2 my-2 bg-light rounded" style="width: 100%;">
                <div class="cardImg my-auto ">
                    <img src="{% static 'images/timmy-m-harley.jpg' %}" class="card-img-top img-fluid" alt="...">
                    <div class="bottom-left w-75">
                        <p>{{post.name}}</p>
                    </div>
                </div>
                <div class="card-body d-flex justify-content-center flex-column">
                    <div class="d-flex justify-content-center">
                        <div>
                            <h4 class="m-0 p-0">Name: <strong>{{post.name}}</strong></h4>
                            <h4 class="m-0 p-0">Email Left: <strong>{{post.email_sent}}</strong></h4>
                            <h4 class="m-0 p-0">Completed Payment: <strong>{{post.complete_payment}}</strong></h4>
                            <h4 class="m-0 p-0">Receipt Status: <strong>{{post.payment_status}}</strong></h4>
                            <h4 class="m-0 p-0">Last Payment Reciept: <strong>{{post.last_payment_receipt}}</strong>
                            </h4>
                            {% if post.sub_state %}
                            <h4 class="m-0 p-0" id="text_{{post.last_payment_receipt}}">Currently:
                                <strong>Subscribed</strong>
                            </h4>
                            {% else %}
                            <h4 class="m-0 p-0 low_{{post.last_payment_receipt}}">Currently: <strong>Not
                                    Subscribed</strong>
                            </h4>
                            {% endif %}
                        </div>
                        <div class="ms-auto">
                            {% if post.sub_state %}
                            <!-- <form id="remove_sub" action="{% url 'accounts:admin_settings' %}" method="POST"> -->
                            {% csrf_token %}
                            <!-- <input type="text" name="culprit"> -->
                            <input type="submit" id="btn_{{post.last_payment_receipt}}"
                                onclick=remove_sub("{{post.last_payment_receipt}}"); class="btn btn-danger"
                                value="Cancel Subscription">
                            <!-- </form> -->
                            {% endif %}
                            <!-- <h4 class="m-0 p-0"><strong>12k</strong></h4>
                            <p class="m-0 p-0">Opened</p> -->
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        <!-- BOTTOM PART OF HISTORY -->
        <div class="d-flex justify-content-space-evenly align-items-center flex-column">
            <div ms-auto>
                <!-- <p>Showing 1<span id="current_pagination"></span> of {{page_value.total}} entries</p> -->
            </div>
            <!-- <div class=""> <select name="" id="cardEntries"> 
                    <option value="">10</option>
                    <option value="">20</option>
                    <option value="">30</option>
                    <option value="">40</option>
                    <option value="">50</option>
                </select></div> -->
            <div class="ms-auto">
                <!-- <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul> -->
                <p></p>
                <ul class="pagination justify-content-center">
                    <button id="load_more_btn" class="page-link" onclick="load_more_btn();">Load More</button>
                </ul>
                <p></p>
            </div>
        </div>
    </div>

</section>
{% endblock %}

{% block javascript %}
<script>
    let page_tracker = 2
    let search_var = '{{search_var}}'

    function load_more_btn() {
        $.ajax({
            type: 'GET',
            url: "{% url 'accounts:get_more_history' %}",
            data: {
                data: 'x1x',
                page_tracker_number: page_tracker,
                search: search_var
            },
            headers: {
                'X-CSRFToken': '{{csrf_token}}'
            },
            dataType: 'json',
            beforeSend: function () {
                $('#load_more_btn').attr("disabled", true);
                $('#load_more_btn').css("opacity", ".5");
            },
            success: function (response) {
                $('#load_more_btn').removeAttr("disabled");
                $('#load_more_btn').css("opacity", "1");

                if (response.move_over) {
                    const more_data = JSON.parse(response.data)
                    for (let d in more_data) {
                        // console.log(more_data[d]['title']);
                        // if (more_data[d]['sub_state']) {
                        $('#data_list').append(
                            `<div class="card d-flex flex-row p-2 my-2 bg-light rounded" style="width: 100%;">
                            <div class="cardImg my-auto ">
                                <img src="{% static 'images/timmy-m-harley.jpg' %}" class="card-img-top img-fluid" alt="...">
                                <div class="bottom-left w-75">
                                    <p>${more_data[d]['name']}</p>
                                </div>
                            </div>
                            <div class="card-body d-flex justify-content-center flex-column">
                                <div class="d-flex justify-content-center">
                                    <div>
                                        <h4 class="m-0 p-0">Name: <strong>${more_data[d]['name']}</strong></h4>
                                        <h4 class="m-0 p-0">Email Left: <strong>${more_data[d]['email_sent']}</strong></h4>
                                        <h4 class="m-0 p-0">Completed Payment: <strong>${more_data[d]['complete_payment']}</strong></h4>
                                        <h4 class="m-0 p-0">Receipt Status: <strong>${more_data[d]['payment_status']}</strong></h4>
                                        <h4 class="m-0 p-0">Customer Payment Reciept: <strong>${more_data[d]['last_payment_receipt']}</strong></h4>
                                        {% if post.sub_state %}
                                        <h4 class="m-0 p-0" id="text_${more_data[d]['last_payment_receipt']}">Currently:
                                            <strong>Subscribed</strong>
                                            </h4>
                                            {% else %}
                                            <h4 class="m-0 p-0 low_${more_data[d]['last_payment_receipt']}">Currently: <strong>Not Subscribed</strong>
                                                </h4>
                                                {% endif %}
                                                </div>
                                                <div class="ms-auto">
                                                    {% if post.sub_state %}
                                        <!-- <input type="text" name="culprit"> -->
                                        <input type="submit" id="btn_${more_data[d]['last_payment_receipt']}"
                                            onclick=remove_sub("${more_data[d]['last_payment_receipt']}"); class="btn btn-danger"
                                            value="Cancel Subscription">
                                        <!-- </form> -->
                                        {% endif %}
                                        <!-- <h4 class="m-0 p-0"><strong>12k</strong></h4>
                                            <p class="m-0 p-0">Opened</p> -->
                                    </div>
                                </div>
                            </div>
                       </div>`  )
                        // }
                        // else {
                        //     $('#data_list').append(
                        //         `<div class="card d-flex flex-row p-2 my-2 bg-light rounded" style="width: 100%;">
                        //     <div class="cardImg my-auto ">
                        //         <img src="{% static 'images/timmy-m-harley.jpg' %}" class="card-img-top img-fluid" alt="...">
                        //         <div class="bottom-left w-75">
                        //             <p>${more_data[d]['name']}</p>
                        //         </div>
                        //     </div>
                        //     <div class="card-body d-flex justify-content-center flex-column">
                        //         <div class="d-flex justify-content-center">
                        //             <div>
                        //                 <h4 class="m-0 p-0">Name: <strong>${more_data[d]['name']}</strong></h4>
                        //                 <h4 class="m-0 p-0">Email Sent: <strong>${more_data[d]['email_sent']}</strong></h4>
                        //                 <h4 class="m-0 p-0">Completed Payment: <strong>${more_data[d]['complete_payment']}</strong></h4>
                        //                 <h4 class="m-0 p-0">Cancelled Payment: <strong>${more_data[d]['payment_status']}</strong></h4>
                        //                 <h4 class="m-0 p-0">Last Payment Reciept: <strong>${more_data[d]['last_payment_receipt']}</strong></h4>
                        //                 {% if post.sub_state %}
                        //                 <h4 class="m-0 p-0" id="text_${more_data[d]['last_payment_receipt']}">Currently:
                        //                     <strong>Subscribed</strong>
                        //                 </h4>
                        //                 {% else %}
                        //                 <h4 class="m-0 p-0 low_${more_data[d]['last_payment_receipt']}">Currently: <strong>Not Subscribed</strong>
                        //                 </h4>
                        //                 {% endif %}
                        //             </div>
                        //             <div class="ms-auto">
                        //                 <!-- <h4 class="m-0 p-0"><strong>12k</strong></h4>
                        //                     <p class="m-0 p-0">Opened</p> -->
                        //             </div>
                        //                 </div>
                        //             </div>
                        //     </div>`)
                        // }
                    }

                    // document.getElementById('current_pagination').innerText = `/${page_tracker}`
                    page_tracker = page_tracker + 1
                }
                else {
                    $('#load_more_btn').attr("disabled", true);
                    $('#load_more_btn').css("opacity", ".5");

                }
                console.log(page_tracker);
            }
        })
    }


    function remove_sub(receipt) {
        $.ajax({
            type: 'POST',
            url: "{% url 'accounts:remove_sub_by_admin' %}",
            data: {
                culprit: receipt
            },
            headers: {
                'X-CSRFToken': '{{csrf_token}}'
            },
            dataType: 'json',
            beforeSend: function () {
                $(`#btn_${receipt}`).attr("disabled", true);
                $(`#btn_${receipt}`).attr("disabled", true);
                $(`#btn_${receipt}`).css("opacity", ".5");
            },
            success: function (response) {
                const receipt = response.receipt
                const updated_val = `Currently: <strong>Not Subscribed</strong>`
                $(`#btn_${receipt}`).remove();
                document.getElementById(`text_${receipt}`).innerHTML = updated_val
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: response.message,
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        })
    }
</script>
{% endblock %}

<!--Container Main end-->
<!-- </body>

</html> -->