{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap5.min.css' %}" />

  <title>Login</title>
</head>

<body>
  <!-- LOGIN SECTION CODE -->
  <section id="loginSection" class="d-md-none my-auto">
    <form id="loginForm" class="row rounded mx-auto my-auto mt-5" action="{% url 'accounts:login' %}" method="POST">
      {% csrf_token %}

      <div class="col-md-12 d-flex justify-content-center   
      align-items-center
        <p class=" h3">Sign in</p>
      </div>
      <div class="mb-2 col-md-12">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="email" value="{{remember_me.email}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required/>
      </div>
      <div class="mb-2 col-md-12">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" value="{{remember_me.pass}}" name="password" class="form-control" id="exampleInputPassword1" required/>
      </div>
      <div class="row mx-auto">
        <div id="rememberCheckBox" class="mb-2 form-check col-6">
          <input type="checkbox" class="form-check-input" {{remember_me.remember_me}}  name="remember_me" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <div class="mb-2 col-6">
          <a href="{% url 'accounts:reset_account' %}">forgot password?</a>
        </div>
      </div>
      <button id="loginBtn" type="submit" class="btn btn-primary">
        Login
      </button>
      <div class="col-8 my-auto mt-4">Don't have an account?</div>
      <div class="col-4 my-auto mt-4">
        <a href="#" id="signupBtn" type="submit"> Sign Up </a>
      </div>
    </form>
  </section>
  <!-- SIGN UP SECTION CODE -->

  <section id="signupSection" class="d-none d-md-none">
    <form id="signupForm" class="row rounded p-4 mx-auto" method="POST" action="{% url 'accounts:signup' %}">
      {% csrf_token %}
      <div class="
          col-md-12
          d-flex
          justify-content-center
          align-items-center
          flex-column
          mb-4
        ">
        <p class="h3">Logo</p>
        <p class="h3">Welcome to Designing</p>
        <p>
          already have an account? <a href="#" id="loginSwapBtn">Login</a>
        </p>
      </div>
      <div class="mb-2 col-md-6">
        <label for="exampleInputEmail1" class="form-label">First Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="first_name" placeholder="Qavi" required />
      </div>
      <div class="mb-2 col-md-6">
        <label for="exampleInputEmail1" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="exampleInputEmail2" name="last_name placeholder=" Your surname"
          required />
      </div>
      <div class="mb-2 col-md-6">
        <label for="exampleInputEmail1" class="form-label">Instagram Acount</label>
        <input type="text" class="form-control" id="exampleInputEmail3" name="instagram" placeholder="xyz@instagram.com"
          required />
      </div>
      <div class="mb-2 col-md-6">
        <label for="exampleInputEmail1" class="form-label">Phone</label>
        <input type="text" class="form-control" id="exampleInputEmail4" name="phone_number" placeholder="03XXXXXXXXX"
          required />
      </div>
      <div class="mb-2 col-md-12">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" id="exampleInputEmail5" name="username"
          placeholder="You Username please" required />
      </div>
      <div class="mb-2 col-md-12">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="text" class="form-control" id="exampleInputEmail6" name="email" placeholder="Your Email please!"
          required />
      </div>
      <div class="mb-2 col-md-12">
        <label for="exampleInputEmail1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputEmail7" name="password"
          placeholder="Your Password please!" required />
      </div>


      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </section>

  <!-- FORGOT PASSWORD SLIDE DOWN -->
  <div id="id01" class="modal cmp-mod-back">
    <form id="paypalLoginForm" class="modal-content animate p-4 forgotForm" action="{% url 'accounts:reset_account' %}"
      method="post">
      {% csrf_token %}
      <div class="imgcontainer mx-auto ctl-for-pwd-txt">
        <p><strong>Forgot Password</strong></p>
      </div>

      <input id="" class="form-control mx-auto" id="" name="anon_value" placeholder="Enter Your Email"
        hidden value="1" />
      <input id="paypalData" class="form-control mx-auto" id="email" type="email" placeholder="Enter Your Email"
        name="email" required />
      <button id="forgotBtn" class="btn for-log-btn" type="submit">
        Reset Password
      </button>
      <div class="mb-2 col-6">
        <a onclick="document.getElementById('id01').style.display='none', document.getElementById('loginSection').style.display = 'block'"
          href="#">Login</a>
      </div>
    </form>
  </div>
  <!-- LOGIN AND SIGN UP SWIPING -->
  <div id="animLoginAndSignup" class="container">
    <div class="w40 d-none d-md-block active">
      <div class="signInBox">
        <div class="text">
          <h3>Welcome Back!</h3>
          <p>
            To keep connected with us please login with your personal info
          </p>
        </div>
        <button class="btn sign-in-btn">sign in</button>
      </div>
      <div class="signOutBox active">
        <div class="text">
          <h3>Hello Friend!</h3>
          <p>Enter your personal details and start your journey with us</p>
        </div>
        <button class="btn sign-up-btn">sign up</button>
      </div>
    </div>
    <div class="w60 active">
      <div class="new-account-section active cmp-siup-txt">
        <h1>Logo</h1>
        <h2>Welcome to Leballo</h2>

        <p class="ctl-cus-txt">Already have an account <a href="login.html">Login</a></p>
        <form class="cmp-wid-fou-eig" method="POST" action="{% url 'accounts:signup' %}">
          {% csrf_token %}
          <div class="row ">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 ctl-lab-txt">
              <label>First name*</label>
              <input type="text" class=" border" id="name" name="first_name" placeholder="First Name" required />
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 ctl-lab-txt">
              <label>Last name*</label>
              <input type="text" id="last_name" class=" border" name="last_name" placeholder="Last Name" required />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 ctl-lab-txt">
              <label>Instagram Account*</label>
              <input type="text" id="inst" class="border" name="instagram" placeholder="abc@instagram.com" />
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 ctl-lab-txt">
              <label>Phone*</label>
              <input type="text" id="mobile" class="border" name="phone_number" placeholder="00923000000000" />
            </div>
          </div>
          <div class="row ctl-mar-top-sigu">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ctl-lab-txt">
              <label>Username*</label>
              <input type="text" id="username" name="username" placeholder="username" required />
            </div>
          </div>
          <div class="row ctl-mar-top-sigu">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ctl-lab-txt">
              <label>Email*</label>
              <input type="email" id="email" name="email" placeholder="Email" required />
            </div>
          </div>
          <div class="row ctl-mar-top-sigu">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ctl-lab-txt">
              <label>Password*</label>
              <input type="password" id="email" name="password" placeholder="Password" required />
            </div>
          </div>
          <div class="cmp-log-pad-sid">
            <button class="btn log-btn">Continue <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M15.1956 17.7007C15.5826 18.0947 16.2158 18.1004 16.6098 17.7134L21.7007 12.7134C21.8922 12.5254 22 12.2683 22 12C22 11.7317 21.8922 11.4746 21.7007 11.2866L16.6098 6.28655C16.2158 5.89956 15.5826 5.90526 15.1956 6.29929C14.8087 6.69332 14.8144 7.32646 15.2084 7.71345L18.5547 11L3 11C2.44772 11 2 11.4477 2 12C2 12.5523 2.44772 13 3 13L18.5547 13L15.2084 16.2866C14.8144 16.6735 14.8087 17.3067 15.1956 17.7007Z"
                  fill="white" />
              </svg>
            </button>
          </div>
        </form>
      </div>
      <div style="margin-top: 6rem" class="sign-in-section active">
        <h1>Sign in</h1>

        <p>or use your email account</p>
        <form method="POST" action="{% url 'accounts:login' %}">
          {% csrf_token %}
          <input type="email" id="signInEmail" value="{{remember_me.email}}" name="email" class="ctl-inp-wid-cus" placeholder="Email" required/>

          <input type="password" id="signInPassword" value="{{remember_me.pass}}" name="password" class="ctl-inp-wid-cus" placeholder="Password" required/>
          <div class="row cmp-log-mar-top">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="ctl-dis-flx">
                <input class="" {{remember_me.remember_me}} type="checkbox" name="remember_me" id="flexCheckDefault">
                <label class="ctl-fot-txt" for="flexCheckDefault">
                  Remember me
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <a href="{% url 'accounts:reset_account' %}" id="forgotPassword" 
                class="ctl-fot-txt">Forgot password?</a>
            </div>
          </div>
          <button type="submit" class="btn log-btn">Login</button>
          <br />
        </form>

      </div>
    </div>
  </div>
  <!--  -->
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script> -->

  {% if debug is True %}
  <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
  <script src="{% static 'js/login.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle5.min.js' %}"></script>
  {% else %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  {% endif %}

  <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
  <script src="{% static 'js/login.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle5.min.js' %}"></script>
  <script src="{% static 'js/sweetalert2.all.min.js'  %}"></script>


  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->




  {% if messages %}
  {% for message in messages %}
  <script>
    var tag_alert = '{{ message.tags }}';
    if (tag_alert == 'alert-success') {
      tag_alert = 'success';
    }
    if (tag_alert == 'alert-danger') {
      tag_alert = 'error';
    }
    Swal.fire({
      position: 'top-end',
      icon: tag_alert,
      title: '{{ message }}',
      showConfirmButton: false,
      timer: 1500
    })
  </script>
  {% endfor%}
  {% endif%}
</body>

</html>